@import './variables.scss';

html,body{
    height : 100%;
}
body {
 font-family : 'lato';
 background-color : $body-color;
}
// #page-loader{
//     width: 100%;
//     height: 100%;
//     position: fixed;
//     background: white;
//     z-index: 13;
//     top: 0;
//     opacity: 1;
//     .spinner-row{
//         margin : 15% auto;
//         .loading-icon{
//             text-align: center;
//             margin-bottom: 10px;
//             i{
//                color : $theme-color;
//                 font-size : 30px;
//             }
//         }
//         .loading-text{
//             text-align: center;
//             font-size : 24px;
//             //font-family : GrexterFontBold;
//         }
//     }
// }
// .content-body{
// 	padding-left : 15px;
// 	padding-right : 15px;
//     position: relative;
//     min-height: 100%;
//     width: 100%;
//     margin: 0;
// }

// .post-requirement-container{
// 	padding : 50px 0 ;
// 	text-align : center;
// 	background-color : #333;
// 	.btn-holder{
// 	  //background-color : white;
// 	  border-radius : 4px;
// 	  padding : 20px 30px;
// 	  cursor : pointer;
// 	  color : white;
// 	  font-weight : bold;
// 	  font-size : 20px;
// 	}
// }
// .grexter-info{
// 	 padding : 20px 0;
// 	 margin-bottom : 20px;
// 	 .grexter-info-container{
// 	 margin-bottom : 10px;
// 	 	.grexter-info-address{
// 	   color : rgb(166,166,166);
// 	   .logo-holder{
// 	     margin-bottom : 10px;
// 	   }
// 	 }
// 	 .grexter-links{
// 	  padding-top : 20px;
// 	   ul{
// 	     padding-left : 0;
// 	     list-style-type : none;
//          li{
//            padding-bottom : 10px;
//            a{
//              color : rgb(166,166,166);
//            }
//          }
// 	   }
// 	 }
// 	 }
// 	 .send-us-form{
// 	   padding-top : 10px;
// 	   input.form-control{
// 	    height : 45px;
// 	    border-radius : 20px;
// 	    margin-bottom : 20px;
// 	   }
// 	   textarea{
// 	     height : 100px;
// 	     margin-bottom : 20px;
// 	   }
// 	   .send-us-btn{
// 	    margin-left : 15px;
// 	    padding : 10px 15px;
// 	    border-radius : 20px;
// 	    text-align : center;
// 	    background-color : rgb(229,240,242);
// 	    color : rgb(166,166,166);
// 	   }
//        .send-us-btn.invalid{
//            cursor : default;
//        }
//        .send-us-btn.valid{
//              cursor : pointer
//        }
//        .contact-us-message{
//            font-family : 'Lato';
//        }
// 	 }
// }
// .rights-reserved{
// 	border-top : 1px solid #ccc;
// 	padding : 20px 0;
// 	text-align : center;
// 	font-weight : bold;
// }
// .breadcrum-row{
//         margin : 20px 0;
//         .text{
//             font-size : 14px;
//             margin-right : 10px;
//             font-family : 'Lato';
//         }
//         .dot{
//             margin-right : 10px;
//             color : $dropdown-select-bg;
//             i{
//                 font-size : 10px;
//             }
//         }
//         .active{
//             color : $theme-color;
//             font-style : italic;
//         }
//     }
