@import './variables.scss';
@import './core.scss';
.multi-select-holder{
    .dropdown{
        ul{
            li{
                i{
                    margin-right : 5px;
                }
                .unchecked{
                    color : $btn-background-color;
                }
                .checked{
                    color : $theme-color;
                }
            }

        }
    }
}
