/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$body-color : #FFFFFF;
$theme-color: #CC934A;
$title-color : #5B5B5B;
$btn-background-color : rgba(31,30,28,0.6);
$pointer-background-color : rgba(31,30,28,0.8);
$dropdown-select-bg : rgb(244,243,238);
$listing-form-bg : rgb(244,243,238);
$rent-bg : rgb(90,92,91);
$label-color : rgb(100,100,100);
// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
// $font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// $font-family-sans-serif: 'Lato', sans-serif !default;


