
<section class="footer-section">
  <div class="container-fluid">
    <div class="max-view-width-new"> 
      <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-4">
          <div class="footer-header">NEDBEN</div>
          <div><a ng-href="#/info-boards/chi-siamo">Chi siamo</a></div>
          <div><a ng-href="#/info-boards/missione">La nostra missione</a></div>
          <div><a ng-href="#/info-boards/collabora">Collabora con noi</a></div>
          <div><a ng-href="#/info-boards/contattaci">Contattaci</a></div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4">
          <div class="footer-header">PERCHÈ NOI</div>
          <div><a href="#/info-boards/termini">Termini del servizio</a></div>
          <div><a href="#/info-boards/faq">FAQ</a></div>
          <div><a href="https://www.iubenda.com/privacy-policy/7895352/full-legal">Privacy policy</a></div>
          <div><a href="https://www.iubenda.com/privacy-policy/7895352/cookie-policy">Cookies policy</a></div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4">
          <div class="footer-header">SEGUICI SU</div>
          <div class="footer-social"><a href="https://www.facebook.com/nedbencommunity" target="_blank"><i class="fa fa-facebook-square"></i></a><a href="https://twitter.com/nedben_com" target="_blank"> <i class="fa fa-twitter-square"></i></a><a href="https://plus.google.com/100134106929485753792" target="_blank"> <i class="fa fa-google-plus-square"></i></a><a href="https://it.pinterest.com/nedbencom/"> <i class="fa fa-pinterest-square"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>