<topnavbar></topnavbar>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <slider></slider>
      </div>
    </div>
  </div>
</header>
<div class="middle-navbar">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div id="bs-example-navbar-collapse-1" class="row navbar-collapse">
            <div class="row">
              <div style="text-align:left;" class="col-md-6 col-xs-6"><a ng-href="#/inserisci-offerta" class="btn btn-primary navbar-btn btn-medium-text">Inserisci offerta</a></div>
              <div style="text-align:right;" class="col-md-6 col-xs-6">
                <select ng-model="home.reverseType" ng-change="home.ChangeMe()" class="nav  navbar-right btn btn-primary navbar-btn btn-medium-text">									
                  <option ng-repeat="sortObj in home.sortTypeList" value="{{sortObj.idSortingType}}" ng-selected="sortObj.idSortingType===home.reverseType">{{sortObj.descSortingType}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid paddng-left-0px paddng-right-0px">
  <offer-list id-category="home.categorySelected.idCategory"></offer-list>
</div>
<footer></footer>